<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Todos for today</h1>
<table style="width: 100%; height: 250px">
    <thead>
    <tr style="background-color: greenyellow; font-size: x-large">
        <th>Task</th>
        <th>Done</th>
        <th>Urgent</th>
    </tr>
    </thead>
    <tr align="center" style="background-color: grey; font-size: large; color: white"
        th:each="todo : ${todosList}">
        <td th:text="${todo.title}" />
        <td th:text="${todo.done}" />
        <td th:text="${todo.urgent}"/>
    </tr>
</table>

</body>
</html>