
.big{
  color: blue;
}
#b325{
  border: 1px solid green;
  width: 250px;
  font-weight:bold;
}
.b326{
  border: 1px solid green;
  width: 250px;
  font-weight: bold;
}
p{
  width:250px;
  background-color: yellow;
}
.b329{
  font-weight: bold;
}
